

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: moccasin;
}
 /* start of header */
header {
    background-image: url(./images/header-image1.jpg);
    background-size: cover;
    padding: 75px;
    display: flex;
    justify-content: space-between;
    border: 2px;
}
header nav {
    color: black;
    list-style: none;
    display: flex;
    flex-direction: row;
}
header nav ul {
    display: flex;
    
}
header nav ul li {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 20px;
}

a {
    text-decoration: none;
    color: black;
}
a:hover {
    color:grey;
}

h2 {
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    
 }
 /* end of header

 start of section */
section h2:hover {
    color: grey;
}

article {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    border: 2px;
}
.bio-pic {
    border: 2px;
    padding: 150px;
    background-image: url(./images/binhta.jpg);
    background-size: cover;
}

.bio p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left: 20px;
    border: 2px  ;
    display: flex;
    align-self: flex-start;    
}

.my-work {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

/* start of my work */
.my-work :hover{
    color: grey;
}
.project-content{
    display: flex;
    align-content: flex-start;
    flex-direction: column;
}
.project {
    display: flex; 
    flex-direction: column;
}

/* style of the img  */

.project a img{
    height: 10%;
    width: 10%;
}
.project-main {
    display: flex;
    flex-direction: column ;
}

.project-main a img{
    height: 20%;
    width: 20%;
}
.project-main img:hover{
    scale: 1.5em;
}
/* start of contact */

.contactinfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;   
}
.info ul {
    flex-wrap: wrap;
   display: flex;
   justify-content: space-around;
}
.info ul li {
    margin: 0 30px;
}

/* start of media query */

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 768px) {
    header {
        justify-content: center;
        position: relative;
        background-size: cover;
    }
    section{
        padding: 20px 10px;
    }
    
}
  