
body{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
header{
    background-image: url(./images/header-image1.jpg);
    background-size: cover;
    padding: 75px;
    display: flex;
    justify-content: space-between;
}
header nav{
    color: black;
    list-style: none;
    display: flex;
    flex-direction: row;
}
header nav ul{
    display: flex;
    
}
header nav ul li {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin: 20px;
}

a{
    text-decoration: none;
    color: black;
}
a:hover {
    color:grey;
}

 section h2{
     font-size: 30px;
     font-family: 'Times New Roman', Times, serif;
 }

section h2:hover {
    color: grey;
}

.bio {
    display: flex;
    justify-content: space-between;
    align-content: flex-start;
    border: 2px solid black;
}
.bio-pic{
    border: 2px solid black;
    padding: 150px;
    background-image: url(./images/binhta.jpg);
    background-size: cover;

}

.bio p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-left: 20px;
    border: 2px solid black ;
    align-self: flex-start ;
    display: flex;
}